.why-section {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: #fcf9ff;
  max-width: 85%;
  margin: auto;
}
.whyus-title{
    font-size: 42px;
  font-weight: 700;
  color: #1e1e1e;
  font-family: system-ui;
  text-align: center;
  margin-bottom: 40px;
}

.whyus-title span {
  color: #3f1272;
}
/* LIGHT CARDS */
.why-card {
  background: #fff;
  border-radius: 16px;
  padding: 28px;
  height: 100%;
  box-shadow: 1px 1px 5px #ccc;
  transition: all 0.3s ease;
}

.why-card:hover {
  /* transform: translateY(-6px); */
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

/* DARK FEATURED CARD */
.why-card-dark {
  background: linear-gradient(135deg, #7c00f9, #200040);
  color: #fff;
  border-radius: 20px;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.why-card-dark p {
  color: #dbe4ff;
}

/* ICON */
.why-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
  font-size: 20px;
}

.why-icon.dark {
  border: 1px solid #fff;
}

/* LONG CARD */
.why-card.long {
  min-height: 160px;
}

/* CTA BUTTON */
.why-cta-btn {
  background: #fff;
  color: #000;
  border: none;
  border-radius: 999px;
  padding: 12px 22px;
  font-weight: 600;
  margin-top: 16px;
  width: fit-content;
  transition: 0.25s ease;
}

.why-cta-btn:hover {
  background: #3f1272;
  color: #fff;
  transform: translateX(4px);
}

/* TEXT */
.why-card h4,
.why-card-dark h3 {
  font-weight: 600;
  margin-bottom: 12px;
}
