/* SYSTEM FONT */
:root {
  font-family:sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: #3f1272;
  padding: 16px 0;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  justify-content: center;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 26px;
}

.nav-item {
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  padding: 6px 2px;
  position: relative;
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: #ccc;
}

.nav-item.active {
  color: #fff;
  /* font-weight: 600; */
}

.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 2px;
}

/* BUTTON */
.open-account-btn {
  margin-left: 30px;
  background: #fff;
  color: black;
  padding: 8px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.2s;
}

.open-account-btn:hover {
  background: #ccc;
}

/* SUBMENU */
.submenu-container {
  width: 100%;
  background: #f7f7f7;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dcdcdc;
  gap: 6px;
  flex-wrap: wrap;
}

.submenu-row {
  display: flex;
  align-items: center;
}

.submenu-item {
  font-size: 14px;
  color: #2a2a2a;
  cursor: pointer;
  transition: color 0.2s;
}

.submenu-item:hover {
  color: #0046e8;
}

.divider {
  margin: 0 8px;
  color: #b3b3b3;
}
